@charset "UTF-8";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
}
a{
    color: #fff;
    letter-spacing: 1px;
    margin-right: 25px;
}

html{
background-color: rgb(14, 14, 35);
    width: 100%;
    height: 100%;
}

.container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(21, 24, 52);
    height: 70px;
    margin: 20px;
    color: #fff;
}

.item-1{
    position: relative;
    display: flex;
    left: 550px;
    font-size: 40px;
}
.item-2{
    font-size: 24px;
}

a:hover{
    color: rgb(231, 34, 143);
}

.container-header>p{
    letter-spacing: 1px;
}

.container-1{
    margin: 20px;
    background-color: rgb(21, 24, 52);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container-1>h1{
    color: #fff;
    letter-spacing: 1px;
}

.container-1>p{
    font-size: 24px;
}



.container-2{
    margin: 20px;
    background-color: rgb(21, 24, 52);
    height: 100%;

}

.table{
    color:#fff;
    width: 100%;
    border-collapse: collapse; /* Une los bordes de las celdas */
    text-align: center;
}
.table th{
    border-bottom: 1px solid #fff;
    padding: 20px;
}

.table td{
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

select {
    background: transparent;
    width: 50%;
    text-align: center;
    height: 20px;
}

option{
    background: transparent;
    color: black;
}



input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
  }
  

  input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    width: 30px; 
    height: 30px; 
    cursor: pointer;
    border: 2px solid #333; 
  }
  

  input[type="checkbox"]:checked + label {
    background-color: rgb(231, 34, 143);
  }
  

  input[type="checkbox"]:checked + label::before {
    content: "\2713"; 
    font-size: 18px;
    text-align: center;
    line-height: 20px; 
    color: #fff; 
  }
  