@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
}

html{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 10%, rgba(73,31,134,1) 100%);
    width: 100%;
    height: 100%;
}

.container-1{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

fieldset{
    border: none;
}
legend{
    text-align: center;
    font-size: 35px;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    bottom: 25px;
}
p{
    font-size: 18px;
    padding-bottom: 10px;
    padding-top: 10px;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container-2{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(231, 34, 143);
    background-color: #000000;
    box-shadow: 25px 25px 5px black;
}

.form{
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.button{
    box-sizing: border-box;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    outline: none;
    width: 60%;
    position: relative;
    left: 40px;
    background: transparent;
    border: 1px solid white;
}

.button:hover{
    
    background-color: #fff;
    color: black;

}

.input{
    height: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}

.input:hover{
    border-bottom: 1px solid rgb(231, 34, 143);
}

.container-3{
    display: block;
    position: absolute;
    top: 70%;
    right: 80%;
}

.container-3 >p{

    position: relative;
    font-size: 12px;
}
